
name: GitHub Actions

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Apache Maven Central
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
        server-id: maven-djytw
        server-username: MAVEN_USERNAME
        server-password: MAVEN_CENTRAL_TOKEN
    - name: Build EverShop
      run: mvn clean package 
    - name: Deploy EverShop
      run: mvn deploy 
      env:
        MAVEN_USERNAME: ${{ secrets.maven_djytw_user }}
        MAVEN_CENTRAL_TOKEN: ${{ secrets.maven_djytw_pwd }}
    - uses: actions/upload-artifact@v2
      with:
        name: EverShop
        path: target/*.jar
